<html>
<head>
    <title>カワウソちゃんと話そう</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div class="talk">
    <!--チャットエリア-->
    <div id="response">
    </div>
    <!--入力エリア-->
    <div style="text-align: center">
        <span>
            <input id="input" type="text">
        </span>
        <span>
            <button id="rec" style="height: 50px;">はなす</button>
        </span>
    </div>
</div>
</body>
</html>